
<div @ref="_containerElementReference" class="unity-container" style="width: 100%; height: 100%; position: relative;"  >

    <canvas id="unity-canvas" width="100" height="100" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-warning"> </div>
</div>


@code
{
    protected ElementReference _containerElementReference;


    protected string _unityInitializationJsPath = "./_content/BlazorWith3d.Unity/unityInitialization.js";

    protected object GetExtraArg(string unityBuildFilesRootPath, bool withResponse)
    {
        return new { buildUrl = unityBuildFilesRootPath, withResponse = withResponse };
    }
}