
# IDEs
.idea
.vs
*.sln.DotSettings.user
*.csproj.user
.vsconfig

# Unity
Library
Logs
Temp
obj
Build
Build.*
UserSettings

# .NET
bin
obj

# shared lib
.obj
.bin



# remove Unity generated project/solution
/**/*.UnityProject/*.csproj
/**/*.UnityProject/*.sln

#nuget for Unity
/**/Assets/Packages/*


# generator local build folder
/src/BlazorWith3d/BlazorWith3d.Unity.UnityPackage/Generator/*
!src/BlazorWith3d/BlazorWith3d.Unity.UnityPackage/Generator/BlazorWith3d.CodeGenerator.dll.meta

node_modules