@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@implements IDisposable

<div  @ref=_containerElementReference class="unity-container">
    <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-warning"> </div>
</div>

@code 
{
    private IJSObjectReference? _unityApi;

    private DotNetObjectReference<JsMessageReceiverProxy> _messageReceiverProxyReference = null!;
    
    private ElementReference _containerElementReference;

    protected override void OnInitialized()
    {
        // TODO add CSS for this component
        
        
        _messageReceiverProxyReference = DotNetObjectReference.Create(new JsMessageReceiverProxy(OnMessageReceived, OnUnityInitialized));
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            return;
        }
        
        var moduleTask = new Lazy<Task<IJSObjectReference>>(() => jsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BlazorWith3d.Unity/unityInitialization.js").AsTask());
        var module = await moduleTask.Value;
        
        _unityApi = await module.InvokeAsync<IJSObjectReference>("showUnity", _containerElementReference, _messageReceiverProxyReference, nameof(JsMessageReceiverProxy.OnMessageReceived), nameof(JsMessageReceiverProxy.OnUnityInitialized));

        await base.OnAfterRenderAsync(firstRender);
    }

    protected virtual ValueTask<string> OnMessageReceived(string msg)
    {
        return ValueTask.FromResult("ACK");
    }
    
    protected virtual ValueTask<string> SendMessageToUnity(string msg)
    {
        if (_unityApi == null)
        {
            throw new InvalidOperationException("CRITICAL FAILURE, SendMessageToUnity called without _unityApi reference!");
        }

        return _unityApi.InvokeAsync<string>("sendMessage", msg);
    }

    protected virtual async ValueTask OnUnityInitialized()
    {
        if (_unityApi == null)
        {
            throw new InvalidOperationException("CRITICAL FAILURE, OnUnityInitialized called without _unityApi reference!");
        }
        
        var response = await SendMessageToUnity("test123");

        Console.WriteLine("response:" + response);
    }

    private class JsMessageReceiverProxy(Func<string, ValueTask<string>> onMessageReceived, Func<ValueTask> onInitialized)
    {
        public Func<string, ValueTask<string>> OnMessageReceivedHandler{ get; set; } = onMessageReceived;
        public Func<ValueTask> OnInitializedHandler { get; set; } = onInitialized;

        [JSInvokable]
        public ValueTask<string> OnMessageReceived(string msg) => OnMessageReceivedHandler(msg);

        [JSInvokable]
        public ValueTask OnUnityInitialized() => OnInitializedHandler();
    }

    public void Dispose() => _messageReceiverProxyReference?.Dispose();
}