@page "/app"
@using BlazorWith3d.ExampleApp.Client.ThreeJs
@using BlazorWith3d.ExampleApp.Client.ThreeJS
@using BlazorWith3d.ExampleApp.Client.Components
@using BlazorWith3d.ExampleApp.Client.Unity.Components
@using BlazorWith3d.ExampleApp.Client.HTML


<PageTitle>WebGL instance</PageTitle>

<InputSelect id="scent" @bind-Value="_renderer">
    @foreach (var renderer in _renderers)
    {
        <option value="@renderer">@renderer</option>
    }
</InputSelect>

<BlocksOnGrid3DComponent >
    @switch (_renderer)
    {
        case "None":
            break;
        case "Unity WebGL":
            <BlocksOnGridUnityRenderer></BlocksOnGridUnityRenderer>
            break;
        case "Html":
            <BlocksOnGridHTMLComponent></BlocksOnGridHTMLComponent>
            break;
        case "Babylon":
            <BlocksOnGridBabylonRenderer></BlocksOnGridBabylonRenderer>
            break;
        case "ThreeJS":
            <BlocksOnGridThreeJSRenderer></BlocksOnGridThreeJSRenderer>
            break;
        case "ThreeJS.Interop":
            <BlocksOnGridThreeJSDirectRenderer></BlocksOnGridThreeJSDirectRenderer>
            break;
            default:
            <text> Unsupported renderer type @_renderer</text>
            break;
    }
    
</BlocksOnGrid3DComponent>


@code{

    List<string> _renderers = ["None","Unity WebGL", "Html", "Babylon", "ThreeJS", "ThreeJS.Interop"];

    string _renderer = "None";

}
