@page "/"
@using BlazorWith3d.Client.Components
@using BlazorWith3d.Unity

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your BlazorWith3d app.

<ShowHideWrapper>
</ShowHideWrapper>
