@page "/"
@using BlazorWith3d.Client.Components
@using BlazorWith3d.Unity
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your BlazorWith3d app.

<InputCheckbox @bind-Value="Is3DVisible"></InputCheckbox>

@if (Is3DVisible)
{
    <BlocksOnGrid3DComponent >
         <BlocksOnGridUnityRenderer></BlocksOnGridUnityRenderer> 
    </BlocksOnGrid3DComponent>
}

@code{

    public bool Is3DVisible { get; set; }
    
}