@inject IJSRuntime JsRuntime
@using System.Text
@using Microsoft.JSInterop
@implements IUnityApi
@implements IDisposable

<div @ref="_containerElementReference" class="unity-container">
    <canvas id="unity-canvas" width="960" height="600" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-warning"> </div>
</div>

@code
{
    private IJSObjectReference? _unityApi;
private IJSObjectReference? _unityApi2;
private IJSObjectReference? _unityApi3;

    private ElementReference _containerElementReference;
    private DotNetObjectReference<JsMessageReceiverProxy>? _messageReceiverProxyReference;

    [Parameter, EditorRequired] 
    public string UnityBuildFilePath { get; set; } = "";

    public void Dispose()
    {
        _messageReceiverProxyReference?.Dispose();
    }
    
    protected override void OnInitialized()
    {
        _messageReceiverProxyReference = DotNetObjectReference.Create(new JsMessageReceiverProxy(OnMessageBytesReceived));
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            return;
        }

        var moduleTask = new Lazy<Task<IJSObjectReference>>(() => JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BlazorWith3d.Unity/unityInitialization.js").AsTask());
        var module = await moduleTask.Value;

        _unityApi= await module.InvokeAsync<IJSObjectReference>("showUnity", UnityBuildFilePath, _containerElementReference, _messageReceiverProxyReference, nameof(JsMessageReceiverProxy.OnMessageBytesReceived));
        
        await base.OnAfterRenderAsync(firstRender);
    }

    public Action<byte[]> OnHandleReceivedMessages { get; set; }
    private void OnMessageBytesReceived(byte[] messageBytes)
    {
        OnHandleReceivedMessages?.Invoke(messageBytes);
    }


    public async Task SendMessageToUnity(byte[] messageBytes)
    {
        if (_unityApi == null)
        {
            throw new InvalidOperationException("CRITICAL FAILURE, SendMessageToUnity called without _unityApi reference!");
        }

        await _unityApi.InvokeAsync<byte[]>("SendMessage", messageBytes);
    }

    private class JsMessageReceiverProxy(Action<byte[]> onMessageBytesReceived)
    {
        [JSInvokable]
        public void OnMessageBytesReceived(byte[] msg)
        {
            onMessageBytesReceived(msg);
        }
    }

}