@inject IJSRuntime JsRuntime
@using Microsoft.JSInterop
@implements IDisposable

<div @ref="_containerElementReference" class="unity-container">
    <canvas id="unity-canvas" width="960" height="600" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-warning"> </div>
</div>

@code
{
    private IJSObjectReference? _unityApi;

    private DotNetObjectReference<JsMessageReceiverProxy>? _messageReceiverProxyReference;

    private ElementReference _containerElementReference;
    private readonly TaskCompletionSource<object> _unityInitializedTcs = new ();

    [Parameter, EditorRequired] 
    public string UnityBuildFilePath { get; set; } = "";

    public void Dispose()
    {
        _messageReceiverProxyReference?.Dispose();
    }
    
    protected override void OnInitialized()
    {
        _messageReceiverProxyReference = DotNetObjectReference.Create(new JsMessageReceiverProxy(OnMessageReceived, OnUnityInitialized));
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            return;
        }

        var moduleTask = new Lazy<Task<IJSObjectReference>>(() => JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BlazorWith3d.Unity/unityInitialization.js").AsTask());
        var module = await moduleTask.Value;

        _unityApi = await module.InvokeAsync<IJSObjectReference>("showUnity",UnityBuildFilePath, _containerElementReference, _messageReceiverProxyReference, nameof(JsMessageReceiverProxy.OnMessageReceived), nameof(JsMessageReceiverProxy.OnUnityInitialized));

        await base.OnAfterRenderAsync(firstRender);
    }

    protected virtual ValueTask<string> OnMessageReceived(string msg)
    {
        return ValueTask.FromResult("ACK");
    }

    protected virtual async ValueTask<string> SendMessageToUnity(string msg)
    {
        await _unityInitializedTcs.Task;

        if (_unityApi == null)
        {
            throw new InvalidOperationException("CRITICAL FAILURE, SendMessageToUnity called without _unityApi reference!");
        }

        var response= await _unityApi.InvokeAsync<string>("sendMessage", msg);
        
        if (response == null)
        {
            throw new InvalidOperationException("NULL received as response!");
        }

        return response;
    }

    protected virtual ValueTask OnUnityInitialized()
    {
        if (_unityApi == null)
        {
            throw new InvalidOperationException("CRITICAL FAILURE, OnUnityInitialized called without _unityApi reference!");
        }

        _unityInitializedTcs.SetResult(null!);
        return ValueTask.CompletedTask;
    }

    private class JsMessageReceiverProxy(Func<string, ValueTask<string>> onMessageReceived, Func<ValueTask> onInitialized)
    {
        [JSInvokable]
        public ValueTask<string> OnMessageReceived(string msg)
        {
            return onMessageReceived(msg);
        }

        [JSInvokable]
        public ValueTask OnUnityInitialized()
        {
            return onInitialized();
        }
    }

}